schemas/netis-config.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dataSource" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="provider" type="xs:string" use="required" />
            <xs:attribute name="connectionString" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="typeAliases" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="typeAlias" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="alias" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mappers" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mapper" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="resource" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
