schemas/nuvatis-mapper.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:group name="dynamicSql">
    <xs:choice>
      <xs:element name="if">
        <xs:complexType mixed="true">
          <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
          <xs:attribute name="test" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="choose">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="when" maxOccurs="unbounded">
              <xs:complexType mixed="true">
                <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
                <xs:attribute name="test" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="otherwise" minOccurs="0">
              <xs:complexType mixed="true">
                <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="where">
        <xs:complexType mixed="true">
          <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
        </xs:complexType>
      </xs:element>
      <xs:element name="set">
        <xs:complexType mixed="true">
          <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
        </xs:complexType>
      </xs:element>
      <xs:element name="foreach">
        <xs:complexType mixed="true">
          <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
          <xs:attribute name="collection" type="xs:string" use="required" />
          <xs:attribute name="item" type="xs:string" use="required" />
          <xs:attribute name="open" type="xs:string" />
          <xs:attribute name="close" type="xs:string" />
          <xs:attribute name="separator" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="include">
        <xs:complexType>
          <xs:attribute name="refid" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:element name="mapper">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="resultMap">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="id">
                <xs:complexType>
                  <xs:attribute name="column" type="xs:string" use="required" />
                  <xs:attribute name="property" type="xs:string" use="required" />
                  <xs:attribute name="typeHandler" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="result">
                <xs:complexType>
                  <xs:attribute name="column" type="xs:string" use="required" />
                  <xs:attribute name="property" type="xs:string" use="required" />
                  <xs:attribute name="typeHandler" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="association">
                <xs:complexType>
                  <xs:attribute name="property" type="xs:string" use="required" />
                  <xs:attribute name="resultMap" type="xs:string" />
                  <xs:attribute name="columnPrefix" type="xs:string" />
                  <xs:attribute name="select" type="xs:string" />
                  <xs:attribute name="column" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="collection">
                <xs:complexType>
                  <xs:attribute name="property" type="xs:string" use="required" />
                  <xs:attribute name="resultMap" type="xs:string" />
                  <xs:attribute name="ofType" type="xs:string" />
                  <xs:attribute name="columnPrefix" type="xs:string" />
                  <xs:attribute name="select" type="xs:string" />
                  <xs:attribute name="column" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="extends" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element name="sql">
          <xs:complexType mixed="true">
            <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="select">
          <xs:complexType mixed="true">
            <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="resultMap" type="xs:string" />
            <xs:attribute name="resultType" type="xs:string" />
            <xs:attribute name="parameterType" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element name="insert">
          <xs:complexType mixed="true">
            <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="parameterType" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element name="update">
          <xs:complexType mixed="true">
            <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="parameterType" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element name="delete">
          <xs:complexType mixed="true">
            <xs:group ref="dynamicSql" minOccurs="0" maxOccurs="unbounded" />
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="parameterType" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="namespace" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
